* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  height: 160px;
  background-color: #464547;
  color: white;
  padding: 10px;
}

.footer-wrapper {
  width: 80%;
  margin: 10px;
  margin: auto;
}

.footer-logo {
  display: flex;
}

.footer-logo p {
  font-size: 18px;
  line-height: 16px;
  font-family: "Source Sans Pro", sans-serif;
  margin-left: 10px;
}

.footer-p {
  margin: 10px;
}

.footer-p p {
  color: #ffffff66;
  font-size: 16px;
  line-height: 19px;
  font-family: "Source Sans Pro", sans-serif;
}
