.headline {
  height: 822px;
  background-image: url("./assets/bckfirst.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.logo-wrapper {
  width: 500px;
  color: white;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 0 auto;
}

.logo-big {
  display: flex;
  justify-content: center;
}

.logo-text {
  font-size: 48px;
  text-align: center;
  font-family: "Oswald", sans-serif;
}

.logo-text h2 {
  line-height: 64px;
  line-height: 90%;
  margin: 20px;
}

.logo-p {
  font-size: 24px;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
}
