.section-headline {
  height: 700px;
  border-radius: 0px;
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.section-headline-wrapper {
  width: 900px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.section-headline-text {
  font-family: "Oswald", sans-serif;
  color: #464547;
  font-size: 48px;
  text-align: center;
  margin: 10px;
  line-height: 64px;
}

.section-headline-p {
  margin: 10px;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  display: flex;
  justify-content: center;
}

.section-headline-p p {
  width: 500px;
  color: #666666;
  font-family: "Source Sans Pro", sans-serif;
}

.section-headline-pp {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.section-headline-pp p {
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
}

.section-headline-button {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.section-headline-button button {
  height: 36px;
  width: 115px;
  left: 542px;
  top: 1366px;
  border-radius: 0px;
  color: #ffffff;
  background-color: #55c2d8;
  font-size: 14px;
  line-height: 26px;
  border-radius: 18px;
  font-family: "Oswald", sans-serif;
}
