.about-culture {
  height: 666px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/bckthird.png");
  background-image: url("./assets/bckfirst.png");
  background-size: cover;
}

.about-culture-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.about-culture-text {
  margin: 10px;
  line-height: 64px;
  color: white;
  font-size: 48px;
  text-align: center;
}

.about-culture-rectangle {
  margin: 10px;
  display: flex;
  justify-content: center;
}

.blue {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  margin: 30px;
  background-color: #39c2d7;
  border-radius: 50%;
}

.blue img {
  width: 60px;
}

.about-culture-p {
  display: flex;
  justify-content: center;
  color: white;
  margin: 10px;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
}

.about-culture-p p {
  width: 400px;
  font-family: "Source Sans Pro", sans-serif;
}
